body {
  font-family: sans-serif;
}

.header {
  background-color: hsl(175, 59%, 39%);
  font-size: 44px;
  padding: 0.5em;
}

.nav {
  background-color: hsl(175, 59%, 69%);
  padding: 5px;
}

.nav ul li {
  display: inline-block;
  margin-right: 30px;
  outline: 2px solid hsl(175, 59%, 49%);
  outline-offset: 3px;
}
