body {
  font-family: sans-serif;
  background-color: hsl(175, 30%, 80%);
}

.header {
  background-color: hsl(175, 59%, 39%);
  font-size: 44px;
  padding: 0.5em;
  outline: 2px solid hsl(175, 59%, 49%);
}
.nav {
  background-color: hsl(175, 59%, 69%);
  padding: 5px;
  outline: 2px solid hsl(175, 59%, 49%);
}
.nav ul li {
  display: inline-block;
  margin-right: 30px;
  outline: 2px solid hsl(175, 59%, 49%);
  outline-offset: 3px;
}

.introducao {
  display: inline-block;
}
.introducao p,
.introducao img {
  display: inline-block;
}
.introducao p {
  width: 330px;
}
.introducao img {
  width: 250px;
  margin: 20px;
}

.tabela {
  display: inline-block;
}
th {
  background-color: hsl(175, 59%, 39%);
  padding: 5px;
  border: 2px solid black;
  font-size: 20px;
}
td {
  border: 2px solid black;
  padding: 2px;
}

.visao p,
.patas p {
  width: 530px;
  display: inline-block;
}
.patas p {
  position: relative;
  top: -30px;
}
.visao img,
.patas img {
  display: inline-block;
}
footer {
  font-weight: bold;
}
